.page
  position: relative
  width: 100vw
  padding: 15px 0
  z-index: 4
.content
  display: flex
  flex-direction: column
  align-items: center
  width: 1070px
  border-radius: 5px
  margin: auto
  padding: 15px 15px
  background-color: inherit
  &__title
    display: flex
    align-items: center
    justify-content: center
    color: #06c
    margin-bottom: 20px
.date
  display: flex
  align-items: flex-start
  color: #333
  &__title
    width: 350px
    margin-right: 25px
mat-slider
    width: 300px
.pickers
  display: flex
  flex-direction: column
  margin-right: 25px
  margin-bottom: 30px
.date__title,
.pickers,
.content__title,
.map
  min-width: 200px
  background-color: #fff
  padding: 20px
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
  border-radius: 4px
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%)
.map
  width: 1025px
  height: calc(100vh - 290px - 60px)
  margin: auto
.map-container
  z-index: 0
@media screen and (max-width: 1080px)
  .map
    width: 805px
    height: calc(100vh - 260px - 60px)
    padding: 0
  .date__title
    width: 240px
    margin-right: 15px
    font-size: 16px
    line-height: 21px
    padding: 10px
  .pickers
    margin-right: 15px
    margin-bottom: 30px
    width: 250px
    padding: 10px
  mat-slider
    width: 250px
  .content
    width: 825px
    padding: 10px
@media screen and (max-width: 840px)
  .content
    width: 97vw
    padding: 0
  .map
    width: 97vw
    height: calc(100vh - 260px - 30px)
    padding: 0
  .date__title
    width: 40vw
    height: 112px
    margin-right: 2vw
    font-size: 16px
    line-height: 24px
  .pickers
    margin-right: 1vw
    margin-bottom: 1vh
    width: 45vw
    padding: 1vw
  mat-slider
    width: 45vw
  .date
    flex-wrap: wrap
    justify-content: center
@media screen and (max-width: 839px)
  .content
    width: 95vw
    padding: 0
  .map
    width: 95vw
    height: 400px
    padding: 0
  .date
    flex-direction: column
    &__title
      width: 90vw
      height: auto
      margin-right: 0
      margin-bottom: 1vh
      font-size: 16px
      line-height: 19px
  .pickers
    margin-right: 0
    margin-bottom: 1vh
    width: 90vw
    padding: 1vw
  mat-slider
    width: 90vw
