<main class="page">
  <div class="content">
    <h1 class="content__title">Минск</h1>
    <div class="date">
      <h3 class="date__title">Выберите период времени, за который необходимо получить данные или воспользуйтесь слайдером (одно деление - месяц)</h3>
      <div class="pickers">
        <mat-form-field appearance="fill">
          <mat-label>Выберите интервал</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Неверная начальная дата</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Неверная дата окончания</mat-error>
        </mat-form-field>
        <mat-slider aria-label="unit(s)" [(ngModel)]="value" [max]="12" [min]="0"></mat-slider>
      </div>
      <div class="value">
        <h3 class="value__title">Данные по выбранный период</h3>
        <div class="value__params">
          <p class="value__name">Средняя температура, °C</p>
          <p class="value__number">15</p>
        </div>
        <div class="value__params">
          <p class="value__name">Максимальная температура, °C</p>
          <p class="value__number">30</p>
        </div>
        <div class="value__params">
          <p class="value__name">Минимальная температура, °C</p>
          <p class="value__number">5</p>
        </div>
      </div>
    </div>
    <div class="map" *ngIf="apiLoaded | async">
      <google-map></google-map>
    </div>
  </div>

</main>
