<div class="value" *ngIf="data; else select">
  <div class="value__condition" [ngSwitch]="data.condition">
    <img src="../../../../assets/snow.png" alt="cloudy" class="value__image" *ngSwitchCase="'snowfall'">
    <img src="../../../../assets/cloudy.png" alt="cloudy" class="value__image" *ngSwitchCase="'cloudy'">
    <img src="../../../../assets/sun.png" alt="sunny" class="value__image" *ngSwitchCase="'sunny'">
    <img src="../../../../assets/rain.png" alt="rainy" class="value__image" *ngSwitchCase="'rainy'">
    <img src="../../../../assets/fog.png" alt="rainy" class="value__image" *ngSwitchCase="'foggy'">
    <ng-template ngSwitchDefault></ng-template>
  </div>
  <h3 class="value__title" *ngIf="!data.end">Данные за: {{data.date | date:'dd MMMM'}}</h3>
  <h3 class="value__title" *ngIf="data.end">Данные за: {{data.date | date:'dd/MM'}} - {{data.end | date:'dd/MM'}}</h3>
  <div class="value__params">
    <p class="value__name">Средняя температура, °C</p>
    <p class="value__number">{{data.avg}}</p>
  </div>
  <div class="value__params">
    <p class="value__name">Максимальная температура, °C</p>
    <p class="value__number">{{data.max}}</p>
  </div>
  <div class="value__params">
    <p class="value__name">Минимальная температура, °C</p>
    <p class="value__number">{{data.min}}</p>
  </div>
</div>
<ng-template #select>
  <div class="value">
    <h3 class="value__title">Чтобы посмотреть климатические показатели выберите дату или диапазон дат!</h3>
  </div>
</ng-template>
