<div class="value" *ngIf="data; else select">
  <div class="value__condition" [ngSwitch]="data.condition">
    <img src="../../../../assets/snow.png" alt="cloudy" class="value__image" *ngSwitchCase="'Snow'">
    <img src="../../../../assets/cloudy.png" alt="cloudy" class="value__image" *ngSwitchCase="'Clouds'">
    <img src="../../../../assets/sun.png" alt="sunny" class="value__image" *ngSwitchCase="'Clear'">
    <img src="../../../../assets/rain.png" alt="rainy" class="value__image" *ngSwitchCase="'Rain'">
    <img src="../../../../assets/fog.png" alt="rainy" class="value__image" *ngSwitchCase="'Fog'">
    <ng-template ngSwitchDefault></ng-template>
  </div>
  <h3 class="value__title" *ngIf="!data.end">Данные за: {{data.date | date:'dd MMMM'}}</h3>
  <h3 class="value__title" *ngIf="data.end">Данные за: {{data.date | date:'dd/MM'}} - {{data.end | date:'dd/MM'}}</h3>
  <div class="value__params">
    <p class="value__name" *ngIf="!data.end">Температура днем, °C</p>
    <p class="value__name" *ngIf="data.end">Ср. температура днем, °C</p>
    <p class="value__number">{{data.day}}</p>
  </div>
  <div class="value__params">
    <p class="value__name" *ngIf="!data.end">Температура ночью, °C</p>
    <p class="value__name" *ngIf="data.end">Ср. температура ночью, °C</p>
    <p class="value__number">{{data.night}}</p>
  </div>
  <div class="value__params" *ngIf="data.windSpeed">
    <p class="value__name">Скорость ветра, м/с</p>
    <p class="value__number">{{data.windSpeed}}</p>
  </div>
  <div class="value__params" *ngIf="data.avg">
    <p class="value__name">Средняя температура, °C</p>
    <p class="value__number">{{data.avg | number:'1.1-2'}}</p>
  </div>
</div>
<ng-template #select>
  <div class="value">
    <h3 class="value__title">Чтобы посмотреть климатические показатели выберите дату или диапазон дат!</h3>
  </div>
</ng-template>
