<header class="header">
    <mat-sidenav-container class="example-container" (backdropClick)="close()" [style.z-index]="hideElements">
      <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
        <div class="button-container">
          <button class="button" mat-button (click)="close()"><img src="../../../../assets/close.svg" alt="close menu" class="close"></button>
        </div>
        <ul class="menu-list">
          <li class="menu-list__item" *ngFor="let region of service.regions"  (click)="close()">
            <a [routerLink]="['region/', region.id]" class="menu-list__link menu-list__link_active">
              <div class="image-wrapper">
                <img [src]="region.icon" [alt]="region.iconAlt" class="item-image">
              </div>
              {{region.name}}
            </a>
          </li>
        </ul>
      </mat-sidenav>
      <mat-sidenav-content>
        <button mat-button (click)="open()">
          <img src="../../../../assets/open.svg" alt="open menu" class="open">
        </button>
      </mat-sidenav-content>
    </mat-sidenav-container>
</header>
